.root {
  display: block;
  overflow-y: auto;
  contain: strict;
  width: 100%;
  height: 100%;
}
.container {
  overflow-anchor: none;
  flex: none;
  position: relative;
  width: 100%;
}
.item {
  border-bottom: 1px solid #ccc;
  width: 100%;
  left: 0;
}
